.banner {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 5px solid #da2d72;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.languages img {
  width: 80px;
  height: 80px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 508px) {
  .languages img {
    margin-right: 20px;
  }
  .languages {
    padding-right: 20px;
  }
}
@media (max-width: 450px) {
  .languages img, .logo img {
    width: 55px;
    height: 55px;
  }
  .languages {
    padding-right: 20px;
  }
}
.languages a:hover, .logo a:hover {
  opacity: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  color: #fec214;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body a {
  text-decoration: none;
}

.whatcanido {
  background-color: black;
  text-shadow: 2px 2px 2px #da2d72;
  border-bottom: 5px solid #da2d72;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2.5rem;
}

.whatcanido p {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.programminglanguages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.programminglanguages a {
  padding-bottom: 20px;
}

.programminglanguages a:hover {
  opacity: 0.5;
}

.programmingother {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.programmingother a {
  padding-bottom: 20px;
}

.programmingother a:hover {
  opacity: 0.5;
}

.programmingicons {
  display: flex;
  border: #fec214 solid 2px;
  box-shadow: #da2d72 2px 2px 2px;
  padding: 10px 10px 10px 10px;
  width: 250px;
  height: 130px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.programmingicons i {
  font-size: 5.5rem;
}

@media (max-width: 1532px) {
  .whatcanido p {
    text-align: center;
  }
  .programminglanguages, .programmingother {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .programmingicons {
    width: 500px;
  }
}
footer {
  background-color: black;
  padding: 30px 0 30px 0;
  border-bottom: 5px solid #da2d72;
  text-shadow: 2px 2px 2px #da2d72;
  font-size: 2.5rem;
}

footer p {
  padding-bottom: 20px;
  padding-left: 40px;
}

.youcanfindmeon {
  display: flex;
  justify-content: center;
}

.youcanfindmeon a {
  color: #fec214;
}

.youcanfindmeon a:hover {
  opacity: 50%;
}

.icons {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: 90px;
  padding-left: 65px;
}

@media (max-width: 1532px) {
  footer {
    text-align: center;
  }
  footer p {
    padding-left: 0;
  }
  .icons {
    justify-content: center;
    padding-right: 30px;
  }
}
.introduction {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  text-shadow: 2px 2px 2px #da2d72;
  border-bottom: #da2d72 solid 5px;
}

.introduction p {
  padding-bottom: 20px;
  padding-left: 20px;
}

.introduction h1 {
  color: #da2d72;
  text-shadow: 2px 2px 2px #fec214;
  padding-bottom: 20px;
  padding-left: 20px;
}

.introductiontext {
  padding-left: 20px;
  padding-right: 500px;
  font-size: 2.55rem;
  gap: 20px;
}

@media (min-width: 1531px) {
  .introductionimgmobile {
    display: none;
  }
}
@media (max-width: 1530px) {
  .introduction {
    display: flex;
    align-items: center;
  }
  .introductiontext {
    padding-right: 20px;
    padding-left: 20px;
  }
  .introductionimg {
    display: none;
  }
  .introduction h1 {
    text-align: center;
  }
}
@media (max-width: 814px) {
  .introduction h1 {
    font-size: 4.5rem;
    padding-bottom: 40px;
  }
}
@media (max-width: 724px) {
  .introduction h1 {
    font-size: 4rem;
  }
}
.introductionimgcontainermobile {
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.introductionimg {
  margin-right: 100px;
  position: relative;
}

.introductionimgcontainer {
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.introductionimg img, .introductionimgmobile img {
  width: 100%;
  border: #da2d72 solid 10px;
  transition: 0.5s;
}

.introductionimg:hover img, .introductionimgmobile:hover img {
  transform: scale(0.9);
}

.introductionimg:hover .imgdescription {
  visibility: visible;
}

.introductionimgmobile:hover .imgdescriptionmobile {
  visibility: visible;
}

.imgdescription {
  position: absolute;
  color: #fec214;
  text-align: center;
  background: rgba(39, 37, 38, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s, visibility 0.2s;
  padding-top: 50%;
  visibility: hidden;
  font-size: 30px;
  height: 500px;
}

.imgdescriptionmobile {
  position: absolute;
  color: #fec214;
  text-align: center;
  background: rgba(39, 37, 38, 0.2);
  top: 46%;
  transition: opacity 0.5s, visibility 0.2s;
  visibility: hidden;
  font-size: 30px;
  height: 300px;
  width: 300px;
  padding-top: 130px;
}

/*# sourceMappingURL=main.css.map */
