.whatcanido {
    background-color: black;
    text-shadow: 2px 2px 2px #da2d72;
    border-bottom:5px solid #da2d72;
    padding-top: 30px;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 2.5rem;
}

.whatcanido p {
    padding-bottom: 20px;
}

.programminglanguages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.programminglanguages a {
    padding-bottom: 20px;
}

.programminglanguages a:hover {
    opacity: 0.5;
}

.programmingother {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.programmingother a {
    padding-bottom: 20px;
    
}

.programmingother a:hover {
    opacity: 0.5;
}

.programmingicons {
    border: #fec214 solid 2px;
    box-shadow: #da2d72 2px 2px 2px;
    padding: 10px 10px 10px 10px;
}